.card {
  width: 300px;
  box-shadow: 13px 13px 20px #a4a5a7, -13px -13px 20px #d7e9f7;
}
.card-body img {
  border-radius: 50%;
}
.card-body p {
  margin-left: 35px;
  font-size: 0.9rem;
}
h2 {
  color: #2e8883;
  font-weight: 900;
  text-shadow: 6px 6px 9px #2a6e66;
}
