.nav {
  padding: 2rem 0;
  font-size: 1.5rem;
  gap: 1rem;
  background-image: linear-gradient(
    to left bottom,
    #051937,
    #004d7a,
    #008793,
    #00bf72,
    #a8eb12
  );
}
.linkname,
.nav {
  color: #fff;
  text-shadow: 6px 6px 9px #09201f;
}
.nav p {
  font-size: 2rem;
  font-weight: 900;
}
.linkname:hover {
  text-decoration: none;
  color: #f70c2c;
}
@media screen and (max-width: 767px) {
  .nav {
    padding: 1.5rem 0;
    font-size: 1.2rem;
  }
  .nav p {
    font-size: 1.5rem;
  }
}
